body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  vertical-align: middle;
  background: url(../img/galaxy.jpg);
  cursor: default;
}

.bigButton {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
  border-color: white;
  cursor: pointer;
  visibility: auto;
}

#start {
  top: 200px;
  left: 18px;
  height: 33px;
  width: 112px;
  position: absolute;
}

#crazy {
  position: absolute;
  top: 300px;
  left: 200px;
  height: 33px;
  width: 112px;
  visibility: hidden;
  opacity: 0;
}

span {
  display:inline-block;
  vertical-align:middle;
}

#buttonWrapper{
  z-index: 1;
  display: block;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
  color: white;
  position: absolute;
  left: 18px;
  bottom: 18px;
  width: 640px;
  text-align: center;
  overflow: hidden;
  visibility: auto;
}

.sideButton {
  float: left;
  cursor: pointer;
  width: 80px;
}

.sideButton a {
  text-decoration: none;
  color: white;
}

.sideButtonInv {
  float: left;
  cursor: pointer;
  width: 80px;
  opacity: 0;
  cursor: pointer;
}

.bar {
  float: left;
  width: 15px;
}

#color {
	visibility: hidden;
}

#tooltipInfo {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 12px;
	color: white;
	visibility: hidden;
}

#name {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 10px;
	color: white;
}
#name a {
	text-decoration: none;
	color: #CCCCCC;
}

.title {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 300;
  color: white;
  text-align: left;
}

.intro {
  font-size: 12px;
  font-weight: 300;
  color: white;
  text-align: left;
}

.explanation {
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-align: center;
  text-anchor: middle;
}

.legend {
  font-size: 11px;
  font-weight: 300;
  color: white;
  fill: white;
}

.legendTitle {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
  color: white;
  fill: white;
}

.progressWrapper {
	cursor: pointer;
	z-index: 1;
}

.popup {
  opacity: 1;
  position: relative;
  text-align: center;
}

.popup::after,
.popup::before {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%) translateY(-2px);
  transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  visibility: hidden;
}

.popup::after {
  background: #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(9, 9, 9, 0.55);
  color: #FFF;
  content: attr(data-popup);
  font-size: 11px;
  font-weight: bold;
  min-height: 30px;
  min-width: 60px;
  padding: 4px 8px;
  top: -34px;
  white-space: nowrap;
  z-index: 1004;
}

.popup::before {
  height: 0px;
  width: 0px;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
  border-top: solid 7px #000;
  content: '';
  top: -6px;
  z-index: 1005;
}

.popup:hover::after,
.popup:hover::before {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  visibility: visible;
}
