/* Design for disabled button */
.btn-disable{
	background: #474747;
    border-color: #474747
}

/* Design modification in homepage slider */
.flexslider{
	height: 190pt;
	padding: 10pt 0;
}

/* To unset the typesetting for somefonts */
.unset_text_transform{
	text-transform: unset !important;
}

