@charset "utf-8";
@import url("font-awesome.min.css");
@import url("custom.flexslider.css");
@import url("framework.css");
body, html {
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

/* Rows
--------------------------------------------------------------------------------------------------------------- */

.row1, .row1 a {}

.row2, .row2 a {}

.row3, .row3 a {}

.row4, .row4 a {}

.row5, .row5 a {}

/* Header + Pageintro Wrapping Spacer
--------------------------------------------------------------------------------------------------------------- */

.banner {
  background-color: rgb(3, 3, 3);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-height: 300px;
  height: 100%;
}

.banner-medium {
  background-color: rgb(3, 3, 3);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-height: 300px;
  height: 450px;
}

.banner-template {
  background-color: rgb(3, 3, 3);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  min-height: 300px;
  height: 300px;
}

.banner > embed {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: transparent;
}

.main-heading {
  position: absolute;
  font-size: 2rem;
  padding: 64px;
  text-align: center;
  width: 100%;
}

.about-text {
  position: absolute;
  /* font-size: 2rem; */
  padding: 64px;
  text-align: center;
  margin-top: 140px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
}

.event-logo {
  position: absolute;
  /* font-size: 2rem; */
  padding: 60px;
  padding-top: 0;
  text-align: center;
  margin-top: 0px;
  width: 45%;
  margin-left: 28%;
  margin-right: auto;
}

@media screen and (max-width:480px) {
  .main-heading {
    font-size: 1.5rem;
    padding: 48px;
  }
  .about-text {
    font-size: 80%;
    margin-top: 80px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }
}

@media screen and (max-width:360px) {
  .main-heading {
    font-size: 1.2rem;
    padding: 48px;
  }
  .about-text {
    font-size: 72%;
    margin-top: 68px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
}

.sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.brand-logo {
  background-image: url("../../images/staclogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  width: 140px;
  margin: 4px;
  margin-left: 10px;
  padding-left: 20px;
}

/* particles-js */

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Header
--------------------------------------------------------------------------------------------------------------- */

#logo-container {
  display: block;
  max-width: 24%;
  height: auto;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#header {
  padding: 0 15px;
  top: 15%;
}

/*
#header #logo {
  margin: 28px 0 0 0;
}

#header #logo h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  text-transform: uppercase;
} */

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */

#pageintro {
  padding-top: 80px;
  padding-bottom: 120px;
}

#pageintro article {
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
}

#pageintro article * {
  text-transform: uppercase;
}

#pageintro article .heading {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 1;
  font-size: 38px;
}

#pageintro article p {
  margin: 0;
}

#pageintro article p:first-of-type {
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: 5px;
}

#pageintro article footer {
  margin-top: 50px;
}

/* Intro Blocks
--------------------------------------------------------------------------------------------------------------- */

#introblocks {}

#introblocks ul {
  display: table;
  width: 100%;
  height: 100%;
  border: none;
}

#introblocks ul li {
  display: table-cell;
  width: 33.33333333333333%;
  height: 100%;
  padding: 5% 2%;
  border: solid;
  border-collapse: collapse;
  border-width: 0 1px 0 0;
}

#introblocks ul li:last-child {
  border: 0;
}

#introblocks ul li * {
  margin: 0;
  padding: 0;
  line-height: normal;
}

#introblocks ul li div {
  position: relative;
  padding-left: 65px;
  word-wrap: break-word;
}

#introblocks ul li div i {
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  font-size: 46px;
  line-height: 1;
}

#introblocks ul li div .heading {
  font-size: 1.2rem;
}

/* Content Area
--------------------------------------------------------------------------------------------------------------- */

.container {
  padding: 40px 0;
}

/* Content */

.container .content {}

.sectiontitle {
  margin-bottom: 50px;
  padding: 10px;
}

.sectiontitle * {
  margin: 0;
}

.intro {}

.intro article {
  max-width: 320px;
}

.intro article .heading {
  font-size: 1.2rem;
}

.intro article .excerpt {
  padding: 20px;
}

.intro article .excerpt * {
  margin: 0 0 10px 0;
}

.intro article .excerpt footer {
  margin: 0;
}

.cta {}

.cta footer {
  margin-bottom: 0;
}

/* Used when elements stack in small viewports */

/* Comments */

#comments ul {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

#comments li {
  margin: 0 0 10px 0;
  padding: 15px;
}

#comments .avatar {
  float: right;
  margin: 0 0 10px 10px;
  padding: 3px;
  border: 1px solid;
}

#comments address {
  font-weight: bold;
}

#comments time {
  font-size: smaller;
}

#comments .comcont {
  display: block;
  margin: 0;
  padding: 0;
}

#comments .comcont p {
  margin: 10px 5px 10px 0;
  padding: 0;
}

#comments form {
  display: block;
  width: 100%;
}

#comments input, #comments textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid;
}

#comments textarea {
  overflow: auto;
}

#comments div {
  margin-bottom: 15px;
}

#comments input[type="submit"], #comments input[type="reset"] {
  display: inline-block;
  width: auto;
  min-width: 150px;
  margin: 0;
  padding: 8px 5px;
  cursor: pointer;
}

/* Sidebar */

.container .sidebar {}

.sidebar .sdb_holder {
  margin-bottom: 50px;
}

.sidebar .sdb_holder:last-child {
  margin-bottom: 0;
}

/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */

*, *::before, *::after {
  transition: all 0.3s ease-in-out;
}

#mainav form * {
  transition: none !important;
}

/* Navigation
--------------------------------------------------------------------------------------------------------------- */

nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mainav, #breadcrumb, .sidebar nav {
  line-height: normal;
}

#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
}

/* Top Navigation */

#mainav {}

#mainav ul {
  text-transform: uppercase;
}

#mainav ul ul {
  z-index: 9999;
  position: absolute;
  width: 180px;
  text-transform: none;
}

#mainav ul ul ul {
  left: 180px;
  top: 0;
}

#mainav li {
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;
  padding: 0;
}

#mainav li:last-child {
  margin-right: 0;
}

#mainav li li {
  width: 100%;
  margin: 0;
}

#mainav li a {
  display: block;
  padding: 30px 0;
}

#mainav li li a {
  border: solid;
  border-width: 0 0 1px 0;
}

#mainav .drop {
  padding-left: 15px;
}

#mainav li li a, #mainav li li .drop {
  display: block;
  margin: 0;
  padding: 10px 15px;
}

#mainav .drop::after, #mainav li li .drop::after {
  content: "\f0d7";
}

#mainav .drop::after {
  top: 35px;
  left: 5px;
}

#mainav li li .drop::after {
  top: 15px;
  left: 5px;
}

#mainav ul ul {
  visibility: hidden;
  opacity: 0;
}

#mainav ul li:hover>ul {
  visibility: visible;
  opacity: 1;
}

#mainav form {
  display: none;
  margin: 0;
  padding: 0;
}

#mainav form select, #mainav form select option {
  display: block;
  cursor: pointer;
  outline: none;
}

#mainav form select {
  width: 100%;
  padding: 5px;
  border: 1px solid;
}

#mainav form select option {
  margin: 5px;
  padding: 0;
  border: none;
}

/* Breadcrumb */

#breadcrumb {
  padding: 160px 0 30px;
}

#breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  opacity: .5;
}

#breadcrumb:hover ul {
  opacity: 1;
}

#breadcrumb li {
  display: inline-block;
  margin: 0 6px 0 0;
  padding: 0;
}

#breadcrumb li a {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 12px 0 0;
  font-size: 12px;
}

#breadcrumb li a::after {
  top: 3px;
  right: 0;
  content: "\f101";
}

#breadcrumb li:last-child a {
  margin: 0;
  padding: 0;
}

#breadcrumb li:last-child a::after {
  display: none;
}

#breadcrumb .heading {
  margin: 0 0 20px 0;
  font-size: 1.6rem;
}

/* Sidebar Navigation */

.sidebar nav {
  display: block;
  width: 100%;
}

.sidebar nav li {
  margin: 0 0 3px 0;
  padding: 0;
}

.sidebar nav a {
  display: block;
  position: relative;
  margin: 0;
  padding: 5px 10px 5px 15px;
  text-decoration: none;
  border: solid;
  border-width: 0 0 1px 0;
}

.sidebar nav a::after {
  top: 9px;
  left: 5px;
  content: "\f101";
}

.sidebar nav ul ul a {
  padding-left: 35px;
}

.sidebar nav ul ul a::after {
  left: 25px;
}

.sidebar nav ul ul ul a {
  padding-left: 55px;
}

.sidebar nav ul ul ul a::after {
  left: 45px;
}

/* Pagination */

.pagination {
  display: block;
  width: 100%;
  text-align: center;
  clear: both;
}

.pagination li {
  display: inline-block;
  margin: 0 2px 0 0;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination a, .pagination strong {
  display: block;
  padding: 8px 11px;
  border: 1px solid;
  background-clip: padding-box;
  font-weight: normal;
}

/* Back to Top */

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  opacity: .5;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#backtotop.visible {
  visibility: visible;
  opacity: .5;
}

#backtotop:hover {
  box-shadow: 0 0 18px 0.08px #333333;
  opacity: 1;
}

/* Tables
--------------------------------------------------------------------------------------------------------------- */

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  vertical-align: top;
}

table, th {
  table-layout: auto;
}

table {
  width: 100%;
  margin-bottom: 15px;
}

th, td {
  padding: 5px 8px;
  border: none;
}

td {
  border-width: 0 1px;
}

/* Gallery
--------------------------------------------------------------------------------------------------------------- */

#gallery {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

#gallery figure figcaption {
  display: block;
  width: 100%;
  clear: both;
}

#gallery li {
  margin-bottom: 30px;
}

/* Social Icons */

.social-icon {
  padding: 5px;
  color: #333;
}

a.social-icon:hover {
  color: #000;
}

/* Colours
--------------------------------------------------------------------------------------------------------------- */

body {
  color: #474747;
  background-color: rgb(3, 3, 3);
}

a {
  color: #ffab40;
}

a:active, a:focus {
  background-color: transparent;
}

/* IE10 + 11 Bugfix - prevents grey background */

hr, .borderedbox {
  border-color: #D7D7D7;
}

label span {
  color: #FF0000;
  background-color: inherit;
}

input:focus, textarea:focus, *:required:focus {
  border-color: #ffab40;
}

.overlay {
  color: #FFFFFF;
  background-color: inherit;
}

.overlay::after {
  color: inherit;
  background-color: rgba(0, 0, 0, .55);
}

.btn, .btn.inverse:hover, a .icon.fa, a.inverse:hover .icon.fa {
  color: #FFFFFF;
  background-color: #ffab40;
  border-color: #ffab40;
}

.btn:hover, .btn.inverse, a:hover .icon.fa, a.inverse .icon.fa {
  color: inherit;
  background-color: transparent;
  border-color: inherit;
}

/* Rows */

.row1 {
  color: #000000;
  background-color: #ffffff;
}

.row2 {
  color: #000000;
  background-color: #ffffff;
}

.row3 {
  color: #000000;
  background-color: #ffffff;
}

.row4 {
  color: #000000;
  background-color: #ffffff;
}

/* Header */

#header {
  color: inherit;
  background-color: #FFFFFF;
}

#header #logo a {
  color: inherit;
}

/* Intro Blocks */

#introblocks {
  color: #FFFFFF;
  background: #ffab40;
}

#introblocks ul, #introblocks ul li {
  border-color: #FFFFFF;
}

/* Content Area */

.intro article {
  color: inherit;
  background-color: #FFFFFF;
}

/* Final quote */

.before-footer>.container {
  height: 100%;
  padding: 70px;
  text-align: center;
}

.last-quote {
  display: flex;
  font-size: 1.8rem;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

/* Footer */

.col-padding {
  padding-bottom: 10px;
}

.page-footer, .footer-copyright {
  z-index: 20;
}

.page-footer>.container, .footer-copyright>.container {
  padding: 10px 0;
}

/*********/

#breadcrumb a {
  color: inherit;
  background-color: inherit;
}

#breadcrumb li:last-child a {
  color: #ffab40;
}

.container .sidebar nav a {
  color: inherit;
  border-color: #D7D7D7;
}

.container .sidebar nav a:hover {
  color: #ffab40;
}

.pagination a, .pagination strong {
  border-color: #D7D7D7;
}

.pagination .current * {
  color: #FFFFFF;
  background-color: #ffab40;
}

#backtotop {
  color: #eeeeee;
  background-color: #111111;
}

/* Tables + Comments */

table, th, td, #comments .avatar, #comments input, #comments textarea {
  border-color: #D7D7D7;
}

#comments input:focus, #comments textarea:focus, #comments *:required:focus {
  border-color: #ffab40;
}

th {
  color: #FFFFFF;
  background-color: #373737;
}

tr, #comments li, #comments input[type="submit"], #comments input[type="reset"] {
  color: inherit;
  background-color: #FBFBFB;
}

tr:nth-child(even), #comments li:nth-child(even) {
  color: inherit;
  background-color: #F7F7F7;
}

table a, #comments a {
  background-color: inherit;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------ */

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */

@-ms-viewport {
  width: device-width;
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width:978px) {
  .hoc {
    max-width: 978px;
  }
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:900px) {
  .hoc {
    max-width: 90%;
  }
  #header {
    padding: 20px;
  }
  #header #logo {
    margin: 5px 0 0 0;
  }
  #mainav {}
  #mainav ul {
    display: none;
  }
  #mainav form {
    display: block;
  }
  #breadcrumb {}
  .container {}
  #comments input[type="reset"] {
    margin-top: 10px;
  }
  .pagination li {
    display: inline-block;
    margin: 0 5px 5px 0;
  }
  #footer {}
  #copyright {}
  #copyright p:first-of-type {
    margin-bottom: 10px;
  }
}

@media screen and (max-width:750px) {
  .imgl, .imgr {
    display: inline-block;
    float: none;
    margin: 0 0 10px 0;
  }
  .fl_left, .fl_right {
    display: block;
    float: none;
  }
  .group .group>*:last-child, .clear .clear>*:last-child, .clear .group>*:last-child, .group .clear>*:last-child {
    margin-bottom: 0;
  }
  /* Experimental - Needs more testing in different situations, stops double margin when stacking */
  .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
    display: block;
    float: none;
    width: auto;
    height: 400px;
    margin: 0 0 30px 0;
    padding: 0;
  }
  #header {
    text-align: center;
  }
  #header #logo {
    margin: 0 0 15px 0;
  }
  #footer {
    padding-bottom: 10px;
  }
  /* Not neccessary, just looks a little better */
}

/* Other
--------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:650px) {
  .scrollable {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 15px 0;
    overflow: auto;
    overflow-x: scroll;
  }
  .scrollable table {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .inline li {
    display: block;
    margin-bottom: 10px;
  }
  .pushright li {
    margin-right: 0;
  }
  .font-x2 {
    font-size: 1.4rem;
  }
  .font-x3 {
    font-size: 1.6rem;
  }
  #pageintro li article {
    max-width: none;
    width: 100%;
  }
  #pageintro li .heading {
    font-size: 2rem;
  }
  #introblocks ul, #introblocks ul li {
    display: block;
    width: 100%;
    height: 100%;
  }
  #introblocks ul li {
    padding: 25px;
    border-width: 0 0 1px 0;
  }
  #logo-container {
    max-width: 40%;
  }
}

@media screen and (max-width:480px) {
  #logo-container {
    max-width: 40%;
  }
}
