{% load static %}
<div id="home" class="intro route bg-image">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container d-flex h-100 head">
        <div class="d-flex align-items-center">
          <div class="row">
            <div class="col-lg-12 text-white d-flex flex-column justify-content-center pt-4 pt-lg-0">
              <h1 style="font-family: 'JetBrains Mono', monospace; ">Space Technology and Astronomy Club</h1>
              <hr class="bg-white w-25" />
              <h2 class="pt-4" style="font-family: 'JetBrains Mono', monospace;">IIT Mandi</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>