{% load static %}
<nav class="navbar navbar-expand-lg sticky-top bg-light rounded-sm navbar-light mt-5">
    <a class="navbar-brand " href={% url 'stac-home' %}><img src="{% static 'stac_iitmandi/images/STAClogo.png' %}" class="img-fluid width:1%" alt="STAC"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {{home}}">
                <a class="nav-link" href={% url 'stac-home' %}>Home</a>
            </li>
            <li class="nav-item dropdown {{events_}}">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Events</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item {{astrax}}" href={% url 'astrax' %}>ASTRAX</a></li>
                    <li><a class="dropdown-item {{zenith}}" href={% url 'zenith' %}>ZENITH</a></li>
                    <li><a class="dropdown-item {{utkarsh}}" href={% url 'utkarsh' %}>UTKARSH</a></li>
                </ul>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#blog.stac.iitmandi.co.in/">Blog</a>
            </li>
            <li class="nav-item {{alumni}}">
                <a class="nav-link" href={% url 'alumni' %}>Alumni</a>
            </li>
            <li class="nav-item dropdown {{gallery_}}">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Gallery</a>
                <ul class="dropdown-menu ">
                <li><a class="dropdown-item {{photos}}" href={% url 'photogallery' %}>Photos</a></li>
                <li><a class="dropdown-item {{videos}}" href={% url 'videogallery' %}>Videos</a></li>
                </ul>
            </li>
            <li class="nav-item {{team}}">
                <a class="nav-link" href={% url 'team' %}>Team</a>
            </li>           
            <li class="nav-item {{about}}">
                <a class="nav-link" href={% url 'about' %}>About</a>
            </li>
        </ul>
    </div>
</nav>

