{% extends 'stac_iitmandi/base.html' %}
{% load static %}

{% block content %}
<div class="about-image size-logo banner-img" style="color: #FFFF; padding:7%">
    <div><img src="{% static 'stac_iitmandi/images/Logowhite.png' %}" alt="Zenith logo" style="height:4.5rem; padding-right:8rem;"><p class="title-a text-center"style="padding-left: 10rem; color: #1de9b6; padding-top: 2.5rem; font-size: 180%;"> | ABOUT US</p><hr class="titlehr" /></div>
</div>

<div class="section-bg title-box">
    <div class="container">
        <div class="title-box text-center">
            <h3 class="title-a">
                ABOUT US
            </h3>
            <hr class="titlehr" />
            <p class="font-italic "><br>{{about_intro|safe}}</p>
            <div class="text-dark text-center px-3">
                <h3 class="subtitle-a">*Contact*</h3>
                <p class="font-bold">Lalit Narayan Mudgal: <i class="fa fa-phone" aria-hidden="true"> +91 9990991108</i></p>
                <p class="font-bold">Yuvraj Misra: <i class="fa fa-phone" aria-hidden="true"> +91 9779008042</i></p>
                <p>Email :<a class="p-3 text-dark" href="mailto:stac@students.iitmandi.ac.in"><i class="fa fa-envelope"></i></a>stac@students.iitmandi.ac.in</i></p>
                <p class="fa fa-map-marker">Address:  Gravity, SAC-001, North Campus, IIT Mandi, Kamand (H.P.) - 175005</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
