{% extends 'stac_iitmandi/base.html' %}
{% load static %}

{% block content %}
<div class="about-image" style="color: #FFFF; padding:10%">
</div>

<section id="slider" class="slider section-bg">
    <div class="container">
        <div class="title-box text-center">
            <h3 class="title-a">
            Alummi's
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
        </div>
        <div class="row justify-content-md-center"> 
            {% for alumni in Alumni_s %}
              <div class="col-lg-3 col-md-6 d-flex">
                <div class="member ">
                  <div class="member-img ">
                    <img src="{{ alumni.image.url}}" class="img-fluid " alt="">
                    <div class="social">
                      <a href="{{alumni.fb}}"><i class="fa fa-facebook-f "></i></a>
                      <a href="{{alumni.insta}}"><i class="fa fa-instagram"></i></a>
                      <a href="{{alumni.git}}"><i class="fa fa-github"></i></a>
                      <a href="{{alumni.linkedin}}"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>{{ alumni.name }}</h4>
                  </div>
                </div>
              </div>
            {% endfor %}  
        </div>
    </div>
</section>

{% endblock %}
