{% extends 'stac_iitmandi/base.html' %}
{% load static %}
{% block content %}

<div class="bg-image astrax-logo" style="color: #FFFF; padding:10%">
    <img src="" alt="">
</div>

<div class="container bg-light mt-2">
    <!--Club Activities-->
    <section id="work" class="work">
        <div class="container">
            <div class="title-box">
                <h3 class="title-a text-center">
                    Astrax
                </h3>
                <div class="line-mf"></div>
                <p class="font-italic"><br>AstraX, the inter-college Astro-Meet of Indian Institute of Technology Mandi, is the center of attraction for students and professors with an inclination towards computational and theoretical astronomy. The first edition of AstraX was organised in 2019. Various keynotes, events, discussions are organized throughout the duration of the astro-meet.</p>
                <a href="https://astrax.in/" target="_blank">Visit Astrax</a>
            </div>
            <div class="title-box text-center">
                <h3 class="title-a">
                    Competitions in Astrax
                </h3>
            </div>
        </div>
    </section>
</div>
{% endblock %}

