{% extends 'stac_iitmandi/base.html' %}
{% load static %}
{% block content %}

<div class="bg-image astrax-logo header-pad banner-img" style="color: #FFFF;">
    <img src="{% static 'stac_iitmandi/images/astrax.png' %}" alt="ASTRAX">
</div>

<div class="section-bg title-box">
    <div class="container">
        <h3 class="title-a text-center">
            Astrax
        </h3>
        <hr class="titlehr" />
        <div class="line-mf"></div>
        <p class="font-italic"><br>{{astrax_intro|safe}}</p>
        <a href="https://astrax.in/" target="_blank">Visit Astrax</a>
    </div>
</div>

<div class="container bg-light mt-2">
    <!--Club Activities-->
    <section id="work" class="work">
        <div class="container">
            <div class="title-box text-center">
                <h3 class="title-a">
                    Competitions in Astrax
                </h3>
                <hr class="titlehr" />
            </div>
            <div class="row justify-content-md-center">
                {% for event in events %}
                <div class="col-lg-4 col-md-6 work-item">
                    <div class="work-wrap">
                    <img src="{{event.image.url}}" class="img-fluid" alt="">
                    <div class="work-info">
                        <h4>{{event.name}}</h4>
                        <p class="font-italic">{{event.description|safe}}</p>
                        <div class="work-links">
                        <a href="{{event.image.url}}" data-gall="work-Gallery" class="venobox" title="{{event.name}}"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="subtitle-a text-center"><h4 class="subtitle-a">{{event.name}}</h4></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
