<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}STAC | IIT Mandi{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'stac_iitmandi/style.css' %}">
</head>

<body>
  <div class="container-xl">
    {% block navbar %}
    {% include '_navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    <!-- Add icons for social media; FB; Insta; Twitter; Youtube; Github -->
    <div class="container-fluid" style="background-color: orange;">
      <div class="row justify-content-center">
        <div class="col" style="background-color: pink;">
          <div class="row justify-content-center">
            Address
          </div>
          <div class="row justify-content-center">
            Add the address by rows
          </div>
        </div>
        <div class="col" style="background-color: green;">
          <div class="row justify-content-center">
            Social Media
          </div>
          <div class="row justify-content-center">
            <div class="col">Facebook</div>
            <div class="col">Instagram</div>
            <div class="col">Github</div>
          </div>
        </div>
        <div class="col" style="background-color: pink;">
          <!-- Add other links; probably one for iit mandi? -->
          <div class="row justify-content-center">
            Other Links?
          </div>
          <div class="row justify-content-center">
            <div class="col">Archive</div>
            <div class="col">Alumni</div>
            <div class="col">??</div>
          </div>
        </div>
      </div>
    </div>
    {% block footer %} {% include 'footer.html' %} {% endblock %}
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </div>
</body>

</html>