<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Bidding Goodbyes:)" />
  <title>STAC Farewell | 2021</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!--favicon-->
  <link rel="icon" href="{% static 'stac_iitmandi/images/farewell/favicon.png' %}">
  <style>
    * {
      text-align: center;
      color: white;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      size: 1000px;
    }

    .section {
      color: aliceblue;
      font-size: 42px;
      font-family: fantasy, "Impact";
      text-align: center;
    }

    .para {
      color: aliceblue;
      font-size: 32px;
      text-align: center;
      font-weight: 500;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }

    .slider {
      max-width: 650px;
    }

    body>div {
      width: 100%;
      min-width: 620px;
      margin: 0 auto;
    }

    ul {
      width: 800px;
      margin: 80px auto;
      list-style: none;
      float: left;
      padding: 10px;
    }

    li {
      width: 200px;
      float: left;
      margin: 30px;
      position: relative;
      -webkit-transition: 0.8s;
    }

    li:hover {
      z-index: 1;
    }

    img {
      -webkit-transition: 0.8s;
      max-width: 100%;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      float: left;
      border-bottom-width: 10px;
      border-radius: 10px;
    }

    * {
      box-sizing: border-box;
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    .col {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .pop-up-img {
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
    }

    .pop-up-img img {
      object-fit: cover;
      object-position: center;
    }

    .pop-up-text {
      display: block;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 10px;
      text-align: justify;
    }

    .pop-up-text p {
      color: black;
    }


    body {
      background-image: url('{% static 'stac_iitmandi/images/farewell/astrophoto.jpg' %}');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
  <!--smooth scroll-->
  <script src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@1.0.0/dist/es5/seamless.auto-polyfill.min.js"
    data-seamless></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="section">
    GoodByee!
    <br>
    We'll love you | Always & Forever
    <h3> STAC IIT Mandi, 2021</h3>
  </div>
  <div class="container" style="margin: auto;">
    <div class="slider" style="align-items: center; display: inline-block;">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/1.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/2.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/4.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/7.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/15.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/16.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/3.jpg' %}">
      <img class="slides img-fluid" src="{% static 'stac_iitmandi/images/farewell/12.jpg' %}">
    </div>
    <p class="para">
      Memories!
    </p>
  </div>

  <!--gallery-->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/akshat.jpg'%}" alt="Akshat"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Akshat is the renaissance man of our college, with the spirit to explore and contribute to each and every
              club in college. He is that friend, with whom you can talk with for hours and never get bored. He is kind
              and takes care of his juniors and helps everyone who is in need. With a smile that could brighten up your
              day, he made everyone laugh and have fun. His contribution to STAC is immense and immeasurable and truly
              inspiring.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/akshita.jpg'%}" alt="Akshita"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>To the most Ameer person of our club, both in terms of bank balance and heart. Jokes aside; Dear Akshita,
              thanks a lot for leading an important path for the growth of our club. Your desire to develop the college
              culture always motivated us to contribute whenever we felt down. Being founder of AstraX and driving force
              behind almost every college fest, you are an inspiration for many in the institute. Thanks for guiding
              STAC for making important decisions; which always turned out fruitful. We grew a lot under your
              mentorship, and continue to do so in future by following your vision.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/akash.jpg'%}" alt="Akash"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>You are one of the most sincere and calm person I have ever met. Your determination and sincerity
              inspires others. Your soft spoken personality always calms others.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/amit.jpg'%}" alt="Amit"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Thanks a lot to the designer of all the cool club t-shirts that we used to wear and flaunt in front of
              the whole campus. Saying goodbye to such an amazing person is really hard for us. We hope you had a great
              time at STAC and will carry these memories for life. We wish you a great future ahead Amit!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/ananya.jpg'%}" alt="Ananya"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>To the Panda/Aloo of the club aka our coordinator, we will miss all your witty jokes, your caring and
              helpful nature, your mentorship and guidance. From being the one who takes notes in the club sessions to
              being the most adorable coordinator and then a mentor, we really are grateful to you for making the club
              reach new heights. You have always been there for us through thick and thin. We wish you all the best for
              your future endeavors and no matter where you go, stay in touch always.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/anuradha.jpg'%}" alt="Anuradha"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Your energy and enthusiasm are unrivalled. You always radiate positivity. Your fun filled attitude always
              makes others feel comfortable around you.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/kriti.jpg'%}" alt="Kriti"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Thanks Kriti for being part of STAC. We could not get enough chances to interact with you but we hope to
              stay in touch with you in future as well and continue to learn and hear from you. We will always be
              grateful for your kindness and remember your smiling face. We wish you good luck for your career and
              personal prospects. Goodbye!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/manpreet.jpg'%}" alt="Manpreet"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Though we got less chances to interact with you, we will always be proud to have you as part of our core
              team. You contributed a lot to the tech culture of the club as the coordinator of Robotronics club. We are
              thankful for your practical suggestions in the core team meetings. We wish you great success in your
              future endeavours. We juniors want to hear more from you on our discord!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/manvi.jpg'%}" alt="Manvi"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>You’re one of the most sincere seniors we have met. We feel lucky to have you in STAC, and we all look up
              to you and your guidance. We hope you are leaving with some beautiful bunch of memories. Thank you for
              always spreading your positive and sweet energy among us. May you succeed in all your future chapters of
              life, please keep in touch!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/shreya.jpg'%}" alt="Shreya"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, mollitia nulla porro nostrum quos
              quia
              exercitationem in eos quaerat perferendis, a aliquam inventore dolore totam sed harum autem! Molestiae,
              dolores?
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/tanmay.jpg'%}" alt="Tanmay"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>To the most #phodu_insaan of IIT Mandi. You withheld the culture of scientific coding in the club, which
              inspired many juniors to delve into the field. Today STAC is different from other Astronomy clubs due to
              people like you. We cherish the good intellectual conversations we had with you; when you organised the
              first Enigma and set an example for the same. You knew a lot but was always curious to know more; which
              inspired many. You helped the club for many critical and difficult activities; for which we are indebted
              to you. Please stay in touch with us in the future (referral dedena )!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row row-cols-1 row-cols-lg-2 pop-up text-center">
          <div class="col pop-up-img">
            <img src="{% static 'stac_iitmandi/images/farewell/tushar.jpg'%}" alt="Tushar"
              style="width:800px;height:300px;">
          </div>
          <div class="col pop-up-text">
            <p>Tushar is like an eagle in the sky, soaring high, with his camera as an eye for STAC to see space. He is
              one of the most skillful members of STAC and an expert in photography. Many of the beautiful photos we
              have of the night sky are due to his efforts and vision. He is one of the most chill person to talk to and
              a pleasure to hang out with.
            </p>
          </div>
        </div>
      </div>
    </div>

    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("slides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
    </script>
    <img src="{% static 'stac_iitmandi/images/farewell/collage.jpg' %}">
    <p class="para">No distance of place or lapse of time can lessen the friendship of those who are thoroughly
      persuaded of each other’s worth.</p>
</body>

</html>