<footer class="bg-white mt-3 pt-2">
  <div class="text-dark">
    <ul class="list-unstyled d-flex justify-content-center" style="font-size: 1.5rem">
      <li><a class="p-3 text-dark" target="_blank" href="https://www.facebook.com/stacIITMandi/"><i class="fa fa-facebook-f small"></i></a></li>
      <li><a class="p-3 text-dark" target="_blank" href="https://github.com/STAC-IITMandi"><i class="fa fa-github"></i></a></li>
      <li><a class="p-3 text-dark" target="_blank" href="https://instagram.com/stac_iitmandi"><i class="fa fa-instagram"></i></a></li>
      <li><a class="p-3 text-dark" target="_blank" href="https://www.youtube.com/channel/UCnmH6Nadt91VEkoeN_lK-rA"><i class="fa fa-youtube-play"></i></a></li>
      <li><a class="p-3 text-dark" target="_blank" href="https://twitter.com/stac_iitmandi"><i class="fa fa-twitter"></i></a></li>
      <li><a class="p-3 text-dark" href="mailto:stac@students.iitmandi.ac.in"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-1"> &copy; <script>
      document.write(new Date().getFullYear());
    </script>. STAC Web-Development Team. All Rights Reserved.
  </div>
</footer>