<footer class="bg-white mt-3 pt-3 rounded">
  <div class="text-dark text-center px-3 footer-links">
    <a class="p-3 text-dark" target="_blank" href="https://www.facebook.com/stacIITMandi/"><i class="fa fa-facebook-f small"></i></a>
    <a class="p-3 text-dark" target="_blank" href="https://github.com/STAC-IITMandi"><i class="fa fa-github"></i></a>
    <a class="p-3 text-dark" target="_blank" href="https://instagram.com/stac_iitmandi"><i class="fa fa-instagram"></i></a>
    <a class="p-3 text-dark" target="_blank" href="https://www.youtube.com/channel/UCnmH6Nadt91VEkoeN_lK-rA"><i class="fa fa-youtube-play"></i></a>
    <a class="p-3 text-dark" target="_blank" href="https://twitter.com/stac_iitmandi"><i class="fa fa-twitter"></i></a>
    <a class="p-3 text-dark" href="mailto:stac@students.iitmandi.ac.in"><i class="fa fa-envelope"></i></a>
  </div>
  <div class="address text-center py-1">
    <i class="fa fa-map-marker"></i> Gravity, SAC-001, North Campus, IIT Mandi, Kamand (H.P.) - 175005
  </div>
  <!-- Copyright -->
  <div class="bg-white copyright text-center py-3"> &copy; <script>
      document.write(new Date().getFullYear());
    </script>. <a href="https://github.com/STAC-IITMandi" class="text-dark">STAC</a> Web-Development Team. All Rights Reserved.
  </div>
</footer>