{% extends 'stac_iitmandi/base.html' %}
{% block content %}
{% load static %}

<div id="home" class="intro route bg-image banner-img">
  <div class="overlay-intro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container d-flex h-100 head">
        <div class="d-flex align-items-center">
          <div class="row">
            <div class="col-lg-12 text-white d-flex flex-column justify-content-center pt-4 pt-lg-0">
              <h2 style="font-family: 'JetBrains Mono', monospace; ">Space Technology and Astronomy Cell</h2>
              <hr class="bg-white w-25" />
              <h3 class="pt-4" style="font-family: 'JetBrains Mono', monospace;">IIT Mandi</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down container-fluid text-center">
        <a href="#introduction" style="color: white">Scroll down to learn more<br><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="section-bg pt-5 pb-5 px-5" id="introduction">
  <div class="container mt-2">
    <h1 class="title-a text-center headingtext">STAC | IIT MANDI</h1>
    <hr class="titlehr" />
    <p class="pb-3">{{introduction.description|safe}}</p>
  </div>
</div>

  <!--Club Activities-->
  <section id="slider" class="slider pt-3 pb-5 px-5">
    <div class="container">
      <div class="title-box text-center pb-3">
        <h3 class="title-a headingtext">
          What we Do As a Club?
        </h3>
        <hr class="titlehr" />
        <div class="line-mf"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="owl-carousel slider-carousel">
            {% for activity in club_activity %}
            <div class="col-lg-12 work-item">
              <div class="work-box">
                <a href="{{activity.image.url}}" data-gall="work-Gallery" title="{{activity.activity}}" class="venobox">
                  <div class="work-img">
                      <img src="{{activity.image.url}}" alt="" class="img-fluid">
                  </div>
                </a>
                <div class="work-info text-center p-2">
                  <h4 class="subtitle-a">{{activity.activity}}</h4>
                  <!-- {{activity.content|safe}} -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Fests Intro -->
  <section id="work" class="work section-bg pt-3 pb-5 px-5">
    <div class="container">
      <div class="title-box text-center pb-3">
        <h3 class="title-a headingtext">
          Fests
        </h3>
        <hr class="titlehr" />
      </div>
      <div class="row">
        {% for event in events_intro %}
          {% for link in links %}
            {% if link.linkname == event.topic %}
            <div class="col-lg-4">
              <img src="{{event.image.url}}" alt="" class="img-fluid" style="height: 12rem;">
            </div>
            <div class="col-lg-6" style="padding-bottom: 2rem;">
              <a href="{{link.link}}"><h4 class="text-center p-2" style="font-weight: bold; color: black;">{{event.topic}}</h4></a>
              <p class="font-italic">{{event.description|safe}}</p>
              <div class="work-links">
                <a href="{{link.link}}" title="More Details">Know More <i class="fa fa-link"></i></a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>

  <!--Future Projects-->
  <section id="work" class="work pt-3 pb-5 px-5">
    <div class="container">
        <div class="title-box text-center pb-3">
        <h3 class="title-a headingtext">
          Future Prospects And Ongoing Projects
        </h3>
        <hr class="titlehr" />
        <div class="line-mf"></div>
      </div>
      <div class="row work-container justify-content-md-center">
        {% for project in future_projects %}
        <div class="col-lg-4 col-md-6 work-item">
          <div class="work-wrap">
            <img src="{{project.image.url}}" class="img-fluid" alt="">
            <div class="work-info">
              <h4>{{project.topic}}</h4>
              <p>{{project.description|safe}}</p>
              <div class="work-links">
                <a href="{{project.image.url}}" data-gall="work-Gallery" class="venobox" title="{{project.topic}}"><i class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="subtitle-a text-center"><h4 class="subtitle-a">{{project.topic}}</h4></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>


    <!-- Achievements -->
  <div class="ach-image acre pb-5 px-3">
    <div class="title-box text-center pb-3">
      <h3 class="title-a headingtext">
        Achievements
      </h3>
      <hr class="titlehr" />
      <div class="line-mf"></div>
    </div>
    {% for ach in achievements %}
      <h2 class="text-center py-2">
        <i class="fa fa-star pb-2 px-1" aria-hidden="true" style="font-size: 23px;"></i> {{ ach.achievement }}
        <a href="{{ ach.link }}" target="_blank"><i class="fa fa-hand-pointer-o fa-sm" aria-hidden="true"></i></a>
      </h2>
    {% endfor %}
  </div>
{% endblock content%}
