{% extends 'stac_iitmandi/base.html' %}
{% block content %}

{% block header %}
  {% include '_header.html' %}
{% endblock %}

<div class="container bg-light mt-2">
  <h1>Heading here</h1>
  <p>Space Technology and Astronomy Cell (STAC) is a club where one can explore every corner of knowledge they have about Astrophysics/Robotics/Programming/Star-Gazing or anything related to space science and technology. The vision of the club is to
    become self sufficient so that in the coming future, the club discovers new celestial bodies, publishes research papers, participates and wins inter-college events, becomes a part of the projects by leading organisations in the field of astronomy
    (NASA, ISRO, ESA etc) and much more.</p>
</div>

{% endblock content%}