{% extends 'stac_iitmandi/base.html' %} {% load static %} {% block content %}

<div class="ach-image size-logo banner-img" style="color: #ffff; padding: 7%;">
    <div>
        <img src="{% static 'stac_iitmandi/images/Logowhite.png' %}" alt="IAU logo" style="height: 4.5rem; padding-right: 8rem;" />
        <p class="title-a text-center" style="padding-left: 3rem; color: #1de9b6; padding-top: 2.5rem; font-size: 200%;">| IAU</p>
        <hr class="titlehr" />
    </div>
</div>

<div class="section-bg title-box">
    <div class="container">
        <div class="title-box pb-3">
            <h3 class="title-a text-center">
                STAC and International Astronomical Union
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
            <p class="">
                <br />STAC recevied funds from OAD (IAU office of Astronomy for Developement). This will help us in teaching and outreach of academic activities inside our college and the surrounding
                areas of Himalyas.
            </p>
            <p class=""><br /></p>
            <ol>
                <li>Introduce people to remote telescope observations, in the pandemic due to restricted social interactions.</li>
                <li>A Server for managing and running open-source projects in astrophysics (https://github.com/STAC-IITMandi).</li>
                <li>
                    A Balloon Satellite project involving college students across the district, which will introduce people to Space Technology and collaborative work, and will be used for remote
                    mapping of agricultural land of Himalyan farmers.
                </li>
                <li>We aim to keep it open source and data will be freely accessible to everyone.</li>
                <li>Improved equipment and small telescopes to conduct observation sessions in the village.</li>
                <li>Educational trip to ARIES observatory and labs across India.</li>
                <li>Organize data-thons inviting students from other institutes for building solutions using satellite data.</li>
                <li>Remote and onsite sessions on basic astronomy in Mandi, Kullu and Manali districts of India.</li>
                <li>Collaboration with local primary schools to introduce them to solar cycle observations, using solar filters, etc.</li>
                <li>Introduce locals to astro-tourism for income generation, as we are blessed with clear night skies.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
