{% extends 'stac_iitmandi/base.html' %}
{% load static %}

{% block content %}

<div class="ach-image size-logo" style="color: #FFFF; padding:7%">
    <div><img src="{% static 'stac_iitmandi/images/Logowhite.png' %}" alt="Zenith logo" style="height:4.5rem; padding-right:8rem;"><p class="title-a text-center"style="padding-left: 8rem; color: #1de9b6; padding-top: 2.5rem; font-size: 180%;"> | PHOTOS</p><hr class="titlehr" /></div>
</div>

<div class="section-bg">
    <div class="container">
        <div class="title-box text-center">
            <h3 class="title-a">
                Gallery
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
            <p>STAC PHOTOS</p>
        </div>
    </div>
</div>
<div class="container bg-light mt-2">
    <!--Gallery Section-->
    <section id="gallery" class="gallery section-bg">
        <div class="container">
            <div class="row no-gutters">
                {% for photo in photogallery %}
                <div class="col-lg-4 col-md-6">
                    <div class="gallery-item">
                        <a href="{{photo.image.url}}" class="venobox" data-gall="gallery-item" title="{{photo.name}}">
                            <img src="{{photo.image.url}}" alt="{{photo.name}}" class="img-fluid">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
</div>

{% endblock %}