{% extends 'stac_iitmandi/base.html' %}
{% load static %}
{% block content %}

<div class="pleiades-image size-logo" style="color: #FFFF; padding:5%">
    <div><img src="{% static 'stac_iitmandi/images/Logowhite.png' %}" alt="Zenith logo" style="height:9rem; padding-right: 15rem;"><p class="title-a text-center"style="padding-left: 15rem; color: #1de9b6; padding-top: 2.5rem; font-size: 3rem;"> | PLEIADES</p><hr class="titlehr" /></div>
</div>

<div class="section-bg title-box">
    <div class="container">
        <div class="title-box text-center">
            <h3 class="title-a">
                Pleiades
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
            <p class="font-italic"><br>{{pleiades_intro|safe}}</p>
        </div>
    </div>
</div>

<div class="container bg-light mt-2">
    <!--Club Activities-->
    <section id="work" class="work">
        <div class="container">
            <div class="title-box text-center">
                <h3 class="title-a">
                    Competitions in Pleiades
                </h3>
                <hr class="titlehr" />
            </div>
            <div class="row justify-content-md-center">
                {% for event in events %}
                <div class="col-lg-4 col-md-6">
                    <div class="work-box">
                        <a href="{{event.image.url}}" data-gall="portfolioGallery" title="{{event.name}}" class="venobox">
                            <div class="work-img">
                                <img src="{{event.image.url}}" alt="{{event.name}}" class="img-fluid">
                            </div>
                        </a>
                        <div class="member-info text-center">
                            <h4>{{ event.name }}</h4>
                            <div class="font-italic">{{event.description|safe}}</div>
                            <!-- <a href="{{event.problem_statement}}" target="_blank">Problem Statement</a> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
