{% extends 'stac_iitmandi/base.html' %}
{% load static %}
{% block content %}

<div class="ach-image size-logo" style="color: #FFFF; padding:4%">
    <div><img src="{% static 'stac_iitmandi/images/Logowhite.png' %}" alt="Zenith logo" style="height:9rem; padding-right: 15rem;"><p class="title-a text-center"style="padding-left: 15rem; padding-top: 2.5rem; font-size: 3rem;"> | VIDEOS</p><hr class="titlehr" /></div>
</div>

<div class="section-bg">
    <div class="container">
        <div class="title-box text-center">
            <h3 class="title-a">
                Our Youtube Videos
            </h3>
            <hr class="titlehr" />
        </div>
    </div>
</div>
<div class="container bg-light mt-2">
    <section id="video" class="video">
        <div class="container text-center">
            <div class="container">
                <div class="row justify-content-center">
                    {% for video in videogallery %}
                    <div class="col-xs-4 p-2">
                        <iframe width="560" height="315" src="{{ video.link }}" alt="{{video.videoname}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

</div>
{% endblock %}
