{% extends 'stac_iitmandi/base.html' %}

{% block content %}
<div class="container bg-light mt-2 shift-d">
    <section id="video" class="video">
        <div class="container text-center">
            <h2 class="py-5">Our Youtube Videos</h2>
            <div class="container">
                <div class="row justify-content-center">
                    {% for video in videogallery %}
                    <div class="col-xs-4 p-2">
                        <iframe width="560" height="315" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

</div>
{% endblock %}
