{% extends 'stac_iitmandi/base.html' %}

{% block content %}
<div class="container bg-light mt-2 shift-d">
    <section id="video" class="video">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>
            </div>
            <div class="col-xl-8 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>STAC</h3>
                <p>YOUTUBE VIDEOS</p>
            </div>
        </div>
    </section><!-- End About Section -->
  
</div>
{% endblock %}