{% extends 'stac_iitmandi/base.html' %}
{% load static %}
{% block content %}

<div class="ach-image size-logo header-pad banner-img" style="color: #FFFF;">
    <img src="{% static 'stac_iitmandi/images/white-zenith.png' %}" alt="Zenith logo" class="top-header">
</div>

<div class="section-bg pt-3 pb-5 px-5">
    <div class="container">
        <div class="title-box">
            <h3 class="title-a text-center">
                Zenith
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
            <p class="font-italic"><br>{{zenith_intro|safe}}</p>
        </div>
    </div>
</div>
    <!--Competitions in Zenith-->
    <section id="work" class="work pt-3 pb-5 px-5">
        <div class="container">
            <div class="title-box text-center pb-3">
            <h3 class="title-a headingtext">
                Competitions in Zenith
            </h3>
            <hr class="titlehr" />
            <div class="line-mf"></div>
            </div>
            <div class="row work-container justify-content-md-center">
            {% for event in events %}
            <div class="col-lg-4 col-md-6 work-item">
                <div class="work-wrap">
                <img src="{{event.image.url}}" class="img-fluid" alt="">
                <div class="work-info">
                    <h4>{{event.name}}</h4>
                    <p class="font-italic">{{event.description|safe}}</p>
                    <div class="work-links">
                    <a href="{{event.image.url}}" data-gall="work-Gallery" class="venobox" title="{{event.name}}"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
                </div>
                <div class="subtitle-a text-center"><h4 class="subtitle-a">{{event.name}}</h4></div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
