* {
    box-sizing: border-box;
}

.shift-d {
    padding-top: 10%;
}

li {
    list-style: none;
}

/* header */
.bg-image {
    background-image: url(../images/galaxy_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.display-table {
    width: 100%;
    height: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

/*-------Navbar-----*/
.active {
    background-color: rgba(214, 213, 234, 0.6);
    text-decoration: none;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(251, 245, 245);
}

.navbar-brand {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    width: 10rem;
    bottom: 2.3rem;
    height: 8px;
}

.navbar-b {
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
}

.navbar-b.navbar-trans .nav-link {
    color: #1de9b6;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-b.navbar-reduce .nav-link {
    color: #0078ff;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    content: "";
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #1de9b6;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: #1de9b6;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #1de9b6;
}

.navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
    color: #0078ff;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #0078ff;
}

.navbar-b.navbar-reduce .nav-link:hover {
    color: #0078ff;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
    color: #0078ff;
}

.navbar-b.navbar-reduce .navbar-brand {
    color: #0078ff;
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.fixed-top {
    transition: background-color 200ms linear;
}

/*-----------Header Section-----------*/
.intro {
    height: 100vh;
    position: relative;
    color: #fff;
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
}

.intro .intro-content {
    text-align: center;
    position: absolute;
    margin-top: 30px;
}

.intro .overlay-intro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

/*-------back to top button------------*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: background 0.2s ease-in-out;
}

.copyright {
    background: rgba(0, 0, 5, 0.1);
}

.footer-links {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {
    .intro-single .intro-title {
        font-size: 3.5rem;
    }

    .intro .intro-title {
        font-size: 4.5rem;
    }

    .intro .intro-subtitle {
        font-size: 2.5rem;
    }

    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px;
    }

    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px;
    }
}

/*------------------ Dropdown Menu ------------------------*/

@media all and (min-width: 100px) {
    .navbar-b .dropdown-menu {
        display: none;
        margin: 0.12rem 0 0;
        border-radius: 5px;
    }

    .navbar-b .dropdown-menu .dropdown-item.active {
        background-color: #ffff;
    }

    .navbar-b .dropdown-menu .dropdown-item {
        padding: 0.7rem 0.7rem;
        transition: all 500ms ease;
        text-transform: uppercase;
        font-weight: 600;
    }

    .dropdown-trans .dropdown-item {
        color: #1de9b6;
    }

    .dropdown-reduce .dropdown-item {
        color: #0078ff;
    }

    .navbar-b .dropdown-menu .dropdown-item:hover {
        color: #0078ff;
        transition: all 500ms ease;
    }

    .navbar-b .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar-b .nav-item .dropdown-menu {
        margin-top: 0;
    }

    /*------------------Navbar-toggle-button------------------------*/
    .navbar-toggler {
        margin-left: 25rem;
    }

    .navbar-toggler:hover,
    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: 0;
        border: white;
        border-color: white;
    }

    .animated-icon {
        width: 30px;
        height: 20px;
        position: relative;
        margin-left: 10%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        background: #e65100;
        margin-top: -0.8rem;
    }

    .animated-icon span:nth-child(1) {
        top: 0.3rem;
    }

    .animated-icon span:nth-child(2) {
        top: 0.8rem;
    }

    .animated-icon span:nth-child(3) {
        top: 1.3rem;
    }

    .animated-icon.open span:nth-child(1) {
        top: 1.3rem;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        outline: none;
    }

    .animated-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon.open span:nth-child(3) {
        top: 1.3rem;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}
