* {
  box-sizing: border-box;
}

body {
    background-image: url("/static/stac_iitmandi/images/galaxy.jpg");
}

li {
    list-style: none;
}

.active{
    background-color: rgba(214, 213, 234, 0.6);
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
    position: relative;
    width: 130px;
    bottom: 35px;
    max-height: 10px;
}

.jumbotron {
    background-color: white;
}

@media all and (min-width: 100px) {      
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #010101;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    }	
