.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #353535;
    margin: 0 3px;
    padding-top: 5px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: rgba(143, 192, 78, 0.8);
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.team .member .social a:hover {
    background: #8fc04e;
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 25px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #353535;
}

.team .member:hover .social {
    opacity: 1;
    bottom: 15px;
}
