* {
  box-sizing: border-box;
}

body {
    background-image: url("/static/stac_iitmandi/images/galaxy.jpg");
}

li {
    list-style: none;
}

.bg-custom {
    background-color: white;
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
}

.jumbotron {
    background-color: white;
}
